main{
    text-align: center;
    margin-top: 55px;
}
.div{
    display: inline-block;
    width: 370px;
    margin-left: 15px;
    margin-right: 15px;
}

.section{
    display: inline-block;
}
svg:hover path:first-of-type{
    fill: white;
    }
    svg:hover path:last-of-type{
        fill: #2a69a6;
        }
svg:not(:hover) path:nth-of-type(2){
    fill: white;
}
svg>path
{transition: all .2s ease-in;}
svg{
    padding-top: 10px;
}

.div div:first-of-type{
    font-size: 14px;
    font-weight: bold;
}
.div div:last-of-type{
    font-size: 14px; 
color: #9d9d9d
}
